###### Requirements with Version Specifiers ######

nltk == 3.8.1
scikit-learn == 1.4.2
pandas == 2.2.2
openpyxl == 3.1.2
matplotlib == 3.8.4

kaggle == 1.6.12

#re / warnings /
#you only need to call them, you don't need to install them because they are part of the Python standard library:
#their version is therefore linked to the current version of Python used.



#Check for library's version 
#import pkg_resources
#library_name = 'nltk'
#try:
#    library_version = pkg_resources.get_distribution(library_name).version
#    print(f"The version of {library_name} in use is: {library_version}")
#except pkg_resources.DistributionNotFound:
#    print(f"{library_name} ist's install in the project.")
